:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #ffff;
  --bgc: #2196f3;
  --secondary-bgc: #2F303A;
  --body-bgc: #F5F4FA;
  --body-bgc-index:#F5F4FA;
}
body {
  background-color: #fff;
  color: #212121;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
/* Site nav index html*/

.logo {
  color: var(--bgc);
   text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;
}

.name{
  color: var(--body-bgc);
}
.site-nav {
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.site-nav-link{
color: var(--title-text-color);
text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;}

.auth-nav-link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}



}
.hero-title {
  background-color: var(--secondary-bgc);
  color: var(--body-bgc);
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.section-title {
  font-family: "Roboto", sans-serif;
  color: var(--title-text-color);
}

.work-title {
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Feature-list */
.feature-list .title {
  font-family: "Roboto", sans-serif;
  font-size: ;
  color: var(--title-text-color);
}

.text {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
}

.team {
  background-color: var(--body-bgc);
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team-title {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
/*Button*/
.button {
  color: var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.button.primary {
  background-color: var(--bgc);
  color: var(--accent-color);
}
/* Footer WebStudio */

.footer {
background-color: var(--secondary-bgc);
color: var(--body-bgc);
font-family: "Roboto", sans-serif;
font-style: normal;
Font size: 14px
}


.footer-title {
  color:var(--bgc);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;
}

.footer-nav{
  color: var(--primary-text-color);
  background-color: --secondary-bgc;
  font-family: "Roboto", sans-serif;
  Font size: 14px
}
/* Portfolio 
  primary-text-color: #212121;
  secondary-text-color: #757575;
  accent-color: #2196f3; */

  .portfolio { 
    background-color: var(--body-bgc-index);
  }
  
  .portfolio-title{
   
  }
  
  .img{
    color: var(--title-text-color);
    font-family:"Roboto", sans-serif; 
    Font style: Bold;
    font-size: 18px;
    Line height: 36px;
    Line height: 171%;
    Align: Left;
    Vertical-align: Top;
    Letter-spacing: 6%
  }